h2 {
    padding: 0px 0px 20px 440px;
}
#list {
    width: 400px;
    height: 40px;
    border-radius: 20px;
    padding-left: 15px;
}
#mylist {
    padding-bottom: 40px;
}
.search {
    padding-left: 240px;
}
.submitList {
    background-color: #ff1e00;
    color: white;
    padding: 8px;
    text-align: center;
    border-radius: 22px;
    width: 125px;
}
/* .close:hover {
    color: red;
} */
.myThings {
    list-style-type: none;
}
.myThings li:hover {
    background-color: lightcoral;
}
.myThings li {
    font-family: arial;
    font-weight: bold;
    font-size: 20px;;
    border: 1px solid gray;
    border-radius: 20px; 
    margin: 10px 40px;
    padding: 10px;
}
ul li.checked {
    color: white;
    background-color: red;
    text-decoration: line-through;
    font-weight: normal;

}
.close.checked {
    color: white;
}